@import "tailwindcss";

:root {
  --background: #c2bdd2;
  --accent: #b2abc7;
  --foreground: #352F44;
  
  /* Derived colors */
  --accent-hover: #b2abc7;
  --accent-light: #b2abc7;
  --border: rgba(220, 207, 192, 0.3);
  --success: #FAF9EE;
  --success-text: #1eff00;
  --error: #ef4444;
  --error-bg: rgba(239, 68, 68, 0.1);
  --error-border: rgba(239, 68, 68, 0.3);
}

[data-theme="dark"] {
  --background: #352F44;
  --accent: #484158;
  --foreground: #B9B4C7;
  
  /* Derived colors stay same or adjust as needed */
  --accent-hover: #484158;
  --accent-light: #484158;
  --border: rgba(220, 207, 192, 0.3);
  --success: #A2AF9B;
  --success-text: #82f373;
  --error: #ef4444;
  --error-bg: rgba(239, 68, 68, 0.1);
  --error-border: rgba(239, 68, 68, 0.3);
}

@theme inline {
  --color-background: var(--background);
  --color-accent: var(--accent);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}